<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Bienvenido al equipo</h4>
                </div>
                <form>
                  <p>Por favor ingresa a tu cuenta</p>
                  <div class="form-outline mb-4">
                    <input type="text" name="username" class="form-control" placeholder="Username" [(ngModel)]="authInfo.username" required/>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="authInfo.password" required/>
                  </div>
                  <div class="text-center pt-1 pb-1">
                    <span class="form-text text-danger" *ngIf="errorMessage">{{ errorMessage }}</span>
                  </div>
                  <!-- Alerta con la respuesta -->
                  <div *ngIf="responseMessage" class="alert {{ responseMessage.includes('correctamente') ? 'alert-success' : 'alert-danger' }}">
                    {{ responseMessage }}
                  </div>
                  <div class="text-center pt-1 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" (click)="login()">Login</button>
                  </div>
                  <div class="text-center pt-1 mb-5 pb-1">
                    <a class="text-muted" data-bs-toggle="modal" data-bs-target="#forgottenPassword">Olvidaste tu contraseña?</a>
                  </div>
                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2 min-width-100">Aun no tienes una cuenta?</p>
                    <button type="button" class="btn btn-outline-primary min-width-100" data-bs-toggle="modal" data-bs-target="#modalRegister">Crear una</button>
                  </div>
                </form>
              </div>
              <!-- Modal olvidaste contraseña-->
              <div class="modal fade" id="forgottenPassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">Olvidaste tu contraseña</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form form autocomplete="off" [formGroup]="forgottenPassword" (ngSubmit)="buildEmail()">
                            <div class="form-group mt-1">
                              <label for="userName" class="form-label">Usuario:</label>
                              <input type="text" class="form-control" id="userName" placeholder="juparefe" formControlName="username">
                              <span class="form-text text-danger" *ngIf="validateField('username', 'getPassword')">
                                Debe de ser de 3 letras minimo
                              </span>
                            </div>
                            <div class="form-group">
                                <label for="email">Correo electronico:</label>
                                <input type="email" class="form-control" id="email" placeholder="prueba@gmail.com" formControlName="email">
                                <span class="form-text text-danger" *ngIf="validateField('email', 'getPassword')">
                                 El correo electronico ingresado no es valido
                                </span>
                            </div>
                            <div class="form-group modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="forgottenPassword.invalid">Recuperar contraseña</button>
                            </div> 
                        </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal registrarse-->
              <div class="modal fade" id="modalRegister" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">Registrase como nuevo usuario</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form form autocomplete="off" [formGroup]="registerUserInfo" (ngSubmit)="addUser()">
                            <div class="form-group mt-1">
                                <label for="name" class="form-label">Nombres:</label>
                                <input type="text" class="form-control" id="name" placeholder="Juan" formControlName="name">
                                <span class="form-text text-danger" *ngIf="validateField('name', 'save')">
                                  Debe de ser de 3 letras minimo
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Apellidos:</label>
                                <input type="text" class="form-control" id="lastName" placeholder="Rendon" formControlName="lastName">
                                <span class="form-text text-danger" *ngIf="validateField('lastName', 'save')">
                                  Debe de ser de 3 letras minimo
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="email">Correo electronico:</label>
                                <input type="email" class="form-control" id="email" placeholder="prueba@gmail.com" formControlName="email">
                                <span class="form-text text-danger" *ngIf="validateField('email', 'save')">
                                 El correo electronico ingresado no es valido
                                </span>
                            </div>
                            <div class="form-group">
                              <label for="phone">Telefono de contacto:</label>
                              <input type="text" class="form-control" id="phone" placeholder="321123457" formControlName="phone">
                              <span class="form-text text-danger" *ngIf="validateField('phone', 'save')">
                                Debe contener 5 letras minimo y solo se aceptan numeros
                              </span>
                            </div>
                            <div class="dropdown">
                              <label for="region">Region:</label>
                              <select class="form-select" id="floatingSelect" aria-label="Floating label select example" (change)="updateCountryOptions($event)" formControlName="region">
                                <option value="all" selected>Selecciona una region</option>
                                <option *ngFor="let region of regions" [value]="region">{{region}}</option>
                              </select>
                              <span class="form-text text-danger" *ngIf="validateField('region', 'save')">
                                Debe seleccionar alguna opcion
                              </span>
                            </div>
                            <div class="dropdown">
                              <label for="floatingSelect">Pais</label>
                              <select class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName="country">
                                <option value="all" selected>Selecciona un pais</option>
                                <option *ngFor="let country of countriesByRegion" [value]="country">{{country}}</option>
                              </select>
                              <span class="form-text text-danger" *ngIf="validateField('country', 'save')">
                                Debe seleccionar alguna opcion
                              </span>
                            </div>
                            <div class="form-group">
                              <label for="address">Direccion:</label>
                              <input type="text" class="form-control" id="address" placeholder="Carrera 1 # 2 - 3" formControlName="address">
                              <span class="form-text text-danger" *ngIf="validateField('address', 'save')">
                                La direccion ingresada no es valida
                              </span>
                            </div>
                            <div class="form-group mt-1">
                              <label for="userName" class="form-label">Usuario:</label>
                              <input type="text" class="form-control" id="userName" placeholder="juparefe" formControlName="username">
                              <span class="form-text text-danger" *ngIf="validateField('username', 'save')">
                                Debe de ser de 3 letras minimo
                              </span>
                            </div>
                            <div class="form-group">
                              <label for="password">Contraseña:</label>
                              <input type="password" class="form-control" id="password" placeholder="XXXXX" formControlName="password">
                              <span class="form-text text-danger" *ngIf="validateField('password', 'save')">
                                Debe de ser de 3 letras minimo
                              </span>
                            </div>
                            <div class="form-group mt-2">
                              <input class="form-check-input" type="checkbox" value="true" id="newsletter" formControlName="newsletter">
                              <label class="form-check-label mx-2" for="newsletter">
                                Suscribirse al boletin informativo
                              </label>
                            </div> 
                            <div class="form-group mt-2 mb-1">
                              <input class="form-check-input" type="checkbox" value="true" id="terms" formControlName="terms">
                              <label class="form-check-label mx-2" for="terms">
                                Acepto los terminos y condiciones
                              </label>
                            </div> 
                            <div class="form-group modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="registerUserInfo.invalid">Crear usuario</button>
                            </div> 
                        </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Somos mas que una compañia</h4>
                <p class="small mb-0">Te invitamos a ingresar a tu cuenta utilizando tu nombre de usuario y contraseña, y así acceder a un mundo de posibilidades. ¿Olvidaste tu contraseña? No te preocupes, estamos aquí para ayudarte. ¿Aún no tienes una cuenta? Únete a nosotros y descubre cómo juntos podemos lograr más que solo transacciones.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>